* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav {
    border: solid green;
    display: flex;
    justify-content: space-between;
}

.nav-left{
    display: flex;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-between;
}

#duck {
    display: flex;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid blue;
    grid-gap: 3px;
    width: 80%;
    margin: 0 auto;

}

.grid-item {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}